html!{
<>
<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-form layui-card-header layuiadmin-card-header-auto">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">{"文章ID"}</label>
                        <div class="layui-input-inline">
                            <input type="text" name="id" placeholder="请输入" autocomplete="off" class="layui-input" />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">{"作者"}</label>
                        <div class="layui-input-inline">
                            <input type="text" name="author" placeholder="请输入" autocomplete="off" class="layui-input" />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">{"标题"}</label>
                        <div class="layui-input-inline">
                            <input type="text" name="title" placeholder="请输入" autocomplete="off" class="layui-input" />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layuiadmin-btn-list" lay-submit="" lay-filter="LAY-app-contlist-search">
                            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="layui-row layui-col-space15" style="margin-top: 15px;">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header">{"默认风格"}</div>
            <div class="layui-card-body">
                <table class="layui-table">
                    <colgroup>
                        <col width="60" />
                        <col width="150" />
                        <col width="100" />
                        <col width="180" />
                        <col width="150" />
                        <col width="80" />
                        <col width="180" />
                        <col width="180" />
                        <col />
                    </colgroup>
                    <thead>
                    <tr>
                        <th>{"编号"}</th>
                        <th>{"用户名称"}</th>
                        <th>{"登录次数"}</th>
                        <th>{"最后登录时间"}</th>
                        <th>{"最后登录IP"}</th>
                        <th>{"状态"}</th>
                        <th>{"注册时间"}</th>
                        <th>{"修改时间"}</th>
                        <th>{"操作"}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{"100919"}</td>
                        <td>{"temp_name1"}</td>
                        <td>{"1989"}</td>
                        <td>{"2020-01-01 10:10:10"}</td>
                        <td>{"127.0.0.1"}</td>
                        <td>{"可用"}</td>
                        <td>{"2020-01-01 10:10:10"}</td>
                        <td>{"2020-01-01 10:10:10"}</td>
                        <td>{"修改 | 删除"}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</>
}

