html!{
<div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
        { include!("_header.html") }
        { include!("_menus.html") }
        <div class="layadmin-pagetabs" id="LAY_app_tabs">
            <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-down">
                <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
                    <li class="layui-nav-item" lay-unselect="lay-unselect">
                        <a href="javascript:;"></a>
                        <dl class="layui-nav-child layui-anim-fadein">
                            <dd layadmin-event="closeThisTabs"><a href="javascript:;">{"关闭当前标签页"}</a></dd>
                            <dd layadmin-event="closeOtherTabs"><a href="javascript:;">{"关闭其它标签页"}</a></dd>
                            <dd layadmin-event="closeAllTabs"><a href="javascript:;">{"关闭全部标签页"}</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
                <div class="layui-breadcrumb" lay-filter="breadcrumb" style="visibility: visible;">
                    <a lay-href="">{"主页"}</a><span lay-separator="">{"/"}</span>
                    <a><cite>{"组件"}</cite></a><span lay-separator="">{"/"}</span>
                    <a><cite>{"选项卡"}</cite></a>
                </div>
        </div>

        <div class="layui-body" id="LAY_app_body">
            <div class="layadmin-tabsbody-item layui-show" style="padding: 15px;">
{
    match self.route_page { 
        RoutePages::IndexRight      => html!{<IndexRight />},
        RoutePages::Users           => html!{<Users />},
        RoutePages::UserAccounts    => html!{<UserAccounts />},
        RoutePages::UserDetails     => html!{<UserDetails />},
        RoutePages::UserCards       => html!{<UserCards />},
        RoutePages::AdminMenus      => html!{<AdminMenus />},
        RoutePages::AdminRoles      => html!{<AdminRoles />},
        RoutePages::Admins          => html!{<Admins />},
        RoutePages::Recharges       => html!{<Recharges />},
        RoutePages::Withdraws       => html!{<Withdraws />},
        RoutePages::Banks           => html!{<Banks />},
        RoutePages::Provinces       => html!{<Provinces />},
        RoutePages::Cities          => html!{<Cities />},
        RoutePages::Districts       => html!{<Districts />},
        RoutePages::AccountChanges  => html!{<AccountChanges />},
        _                           => html!{<Users />},
    }
}
            </div>
        </div>
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
<script>{"
    layui.config({
        base: '/_static/layuiadmin/'
    }).extend({
        index: 'lib/index'
    }).use(['index', 'console']);
"}</script>
</div>
}
