html!{
<>
<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-form layui-card-header layuiadmin-card-header-auto">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">{"上级菜单"}</label>
                        <div class="layui-input-inline">
                            <input type="text" name="id" placeholder="请选择上级菜单" autocomplete="off" class="layui-input" />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">{"菜单名称"}</label>
                        <div class="layui-input-inline">
                            <input type="text" name="author" placeholder="请输入菜单名称" autocomplete="off" class="layui-input" />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">{"路由/链接"}</label>
                        <div class="layui-input-inline">
                            <input type="text" name="title" placeholder="请选择菜单状态" autocomplete="off" class="layui-input" />
                        </div>
                    </div>

                    <div class="layui-inline">
                        <button class="layui-btn layuiadmin-btn-list" lay-submit="" lay-filter="LAY-app-contlist-search">
                            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="layui-row layui-col-space15" style="margin-top: 15px;">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-body">
                <table class="layui-table">
                    <colgroup>
                        <col width="60" />
                        <col width="100" />
                        <col width="200" />
                        <col width="100" />
                        <col width="200" />
                        <col />
                        <col width="100" />
                        <col width="150" />
                    </colgroup>
                    <thead>
                    <tr>
                        <th>{"编号"}</th>
                        <th>{"用户编号"}</th>
                        <th>{"用户名称"}</th>
                        <th>{"日志类型"}</th>
                        <th>{"URL"}</th>
                        <th>{"备注"}</th>
                        <th>{"日期"}</th>
                        <th>{"时间"}</th>
                    </tr>
                    </thead>
                    <tbody>{ rows }</tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</>
}

